.book {
  position: relative;
  left: -12px;
  width: calc(100% + 24px);
  padding: 32px 24px 40px 24px;
  border-radius: 22px;
  background-color: var(--background-neutral);
}

.book__lead {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.book__form {
  margin-bottom: 28px;
}

.book__tel {
  display: block;
  font-size: 24px;
  line-height: 34px;
  color: var(--text-basic);
  text-align: center;
  text-decoration-color: var(--text-underline);
}

@media (min-width: 360px) {
  .book__lead {
    font-size: 36px;
  }
}

@media (min-width: 900px) {
  .book {
    left: -40px;
    padding: 40px;
    width: calc(100% + 80px);
  }

  .book__lead {
    margin-right: auto;
    margin-bottom: 56px;
    max-width: 670px;
  }

  .book__contact-wrapper {
    display: flex;
  }

  .book__form {
    flex: 0 0 47%;
    margin-right: 120px;
    margin-bottom: 0;
  }

  .book__tel {
    font-size: 32px;
    line-height: 42px;
  }
}
