.button {
  --text-basic: hsl(0, 0%, 10%);
  display: block;
  padding: 19px;
  width: 100%;
  min-width: 208px;
  border-radius: 16px;
  border: none;
  font-size: 18px;
  line-height: 18px;
  color: var(--text-basic);
  white-space: nowrap;
  background-color: var(--accent);
  outline-offset: 2px;
  user-select: none;
  touch-action: none;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 100ms;
}

.button:focus:not(:focus-visible) {
  outline: none;
}

.button:focus-visible {
  outline: auto;
}

.button:active {
  opacity: 0.6;
}

@media (hover: hover) {
  .button:hover {
    color: var(--text-button-hover);
    background-color: var(--background-hover);
    box-shadow: 0 0 0 2px var(--border-hover) inset;
  }
}
