.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__tel {
  color: var(--text-basic);
  text-decoration-color: var(--text-underline);
  transition-duration: 100ms;
}

@media (hover: hover) {
  .header__tel:hover {
    color: var(--text-tel-hover);
    text-decoration-color: var(--text-basic);
  }
}
