.main {
  padding-top: 40px;
  overflow: hidden;
  max-width: 100%;
}

.main__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: auto;
  max-width: 400px;
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-weight: 700;
  text-align: right;
  text-shadow: 0 0 3px var(--lighttheme-textshadow-invert);
  color: var(--lighttheme-text-invert);
}

.main__title::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 100vw;
  max-width: 330px;
  height: 100vw;
  max-height: 330px;
  border-radius: 60px;
  background-color: var(--lighttheme-background-accent);
  transform: translate(12%, -50%) rotate(45deg);
  z-index: -1;
}

.main__picture {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 30px;
}
