.main {
  padding-top: 40px;
  overflow: hidden;
  max-width: 100%;
}

.main__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: auto;
  max-width: 400px;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: right;
  text-shadow: 0 0 4px var(--textshadow-invert);
  color: var(--text-invert);
}

.main__title::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 110vw;
  max-width: 380px;
  height: 110vw;
  max-height: 380px;
  border-radius: 60px;
  background-color: var(--background-accent);
  transform: translate(18%, -52%) rotate(45deg);
  z-index: -1;
}

.main__picture {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 30px;
}

@media (min-width: 900px) {
  .main {
    overflow: visible;
  }

  .main__title {
    margin-left: 0;
    max-width: 800px;
    font-size: 3.5rem;
    line-height: 4rem;
    text-align: left;
  }

  .main__title::before {
    left: 0;
    width: 70vw;
    max-width: 800px;
    height: 70vw;
    max-height: 800px;
    border-radius: 100px;
    transform: translate(6%, -50%) rotate(45deg);
  }

  .main__picture {
    margin-bottom: 60px;
  }
}
