.page {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  min-height: 100vh;
  min-width: 320px;
  font-family: "Nunito", sans-serif;
  /* -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-weight: 300;
  color: var(--text-basic);
  background-color: var(--background-page);
}

.page__main {
  flex: 1 0 auto;
}

.page__footer {
  margin-top: auto;
}

@media (min-width: 600px) {
  .page {
    padding-bottom: 0;
  }
}
