.popup {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: ease-in;
  transition-duration: 400ms;
  touch-action: none;
}

.popup__underlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: transparent;
  transition-property: background-color;
  transition-timing-function: ease-in;
  transition-duration: 400ms;
}

.popup__content {
  position: relative;
  padding: 32px 24px;
  width: 60%;
  min-width: 280px;
  max-width: 450px;
  border-radius: 14px;
  text-align: center;
  background-color: var(--background-basic);
  transform: scale(0);
  transition-property: transform;
  transition-timing-function: ease-in;
  transition-duration: 400ms;
}

.popup__text {
  position: relative;
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.popup__text::before {
  display: none;
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 56px;
  height: 56px;
  background-color: var(--error);
  mask: url("../img/icon-error.svg");
}

.popup__text-block {
  display: block;
  margin-bottom: 4px;
}

.popup__text-block:last-child {
  margin-bottom: 0;
}

.popup__button {
  margin: 0 auto;
  max-width: 200px;
}

.popup--error .popup__text {
  padding-top: 64px;
}

.popup--error .popup__text::before {
  display: block;
}

.popup--show {
  transition-timing-function: ease-out;
  opacity: 1;
}

.popup--show .popup__underlay {
  transition-timing-function: ease-out;
  background-color: var(--background-popup);
}

.popup--show .popup__content {
  transition-timing-function: ease-out;
  transform: scale(1);
}

@media (min-width: 900px) {
  .popup__content {
    padding: 40px;
  }

  .popup__text {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 34px;
  }

  .popup__text-block {
    margin-bottom: 0;
  }
}
