*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  filter: var(--image-filter);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 600px;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

@media (min-width: 900px) {
  .container {
    padding: 0 64px;
    max-width: 1200px;
  }

  .break--mobile {
    display: none;
  }
}
